* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.principal-container {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

#choices {
  /* background-color: rebeccapurple; */
  padding: 10px;
}

.container-input {
  /* background-color: red; */
  padding: 5px;
}

.res-container {
  /* background-color: red; */
  border: 1px solid black;
  margin-top: 1em;
  padding: 10px;
  width: 40vw;
  height: 40vh;
  text-align: justify;
}
